@{
    ViewData["Title"] = "Home Page";
}

<div class="home">
    <img src="~/css/obi-wan-0-1200-0-525-crop.jpg">
  <h1>Take your first step into<br> a larger world…</h1>
<p>Sign in or register to get started. We’re your home for logging, rating and reviewing films, your watchlist of titles to see, your source for 
    lists and inspiration, a cast and crew database and an activity stream of passionate film criticism, discussion and discovery. </p>
    <h2>How FavMovie works</h2>
    <div class="flex">
        <img src="">
        <p>Tell us what you’ve seen Get your Letterboxd underway by visiting our Popular section and marking a few films you’ve seen.
            Click the ‘eye’ on any film poster to tell us you’ve watched it (add a ‘like’ if you liked it and/or a rating).
            We add all watched titles to your Films tab and then we can show you reviews containing spoilers (usually hidden) and other cool stuff.
            If you’re Pro we compute detailed stats based on all your watched films (see below).  </p>
    </div>
</div>
